body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #FF6347;
    color: white;
    padding: 20px;
    text-align: center;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab {
    padding: 15px;
    cursor: pointer;
    background-color: #fff;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab.active {
    background-color: #FF6347;
    color: white;
}

.tab-content {
    display: none;
    text-align: center;
}

.tab-content.active {
    display: block;
}

footer {
    background-color: #FF6347;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 20px;
}
